www_domain_name         = "<s3_bucket_name>"
account_id              = "<account_id>"
iam_user_name           = "<iam_user_name>"
ami                     = "<image ami>"
instance_type           = "<instance_type>"
key_pair                = "C:/Users/<username>/.ssh/<key_par>.pub"
private_key_pair        = "C:/Users/<username>/.ssh/<key_par>"
db_username             = "<db_username>"
db_password             = "<db_password>"
db_name                 = "<db_name>"